In [44]:
# initial imports
import numpy_financial as npf
import numpy as np
import pandas as pd
from pathlib import Path

In [45]:
# set the file path
csvpath = Path('budget_data.csv')

# create a Pandas dataframe from a csv file
df = pd.read_csv(csvpath)

In [46]:
# Number of rows and columns in Dataframe
df.shape

(86, 2)

In [47]:
# Visual sample to ensure data has loaded correctly
df.sample()

        Date  Profit/Losses
31  Aug-2012       -1022534

In [48]:
# Identify number of rows in 'Date' column
df['Date'].count()

86

In [49]:
# Sum of rows in 'Profit/Losses' column
df['Profit/Losses'].sum()

38382578

In [50]:
#Identify data types in dataframe
df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [55]:
#Change Profit/Lossess to float variable
df['Profit/Losses'] = df['Profit/Losses'].astype(float)

In [56]:
# Check Profit/Lossess is a float variable
df.dtypes

Date              object
Profit/Losses    float64
dtype: object

In [53]:
#Calculate nth discrete difference along an axis
#df['Profit/Losses'].diff(1)

In [61]:
# Intialise 'Profit/Lossess' column as a list.
list_a = df.iloc[:,1]
a = np.array(list_a)
diffs = np.diff(a)

In [65]:
#Find average of difference
round (sum(diffs)/len(diffs),2)

-2315.12

In [72]:
#Greatest increase in profit (date and amount)
np.amax(diffs)

1926159.0

In [92]:
#Find index of greatest increase
np.argmax(diffs, axis=0)

24

In [104]:
#Noting that python starts at 0
df.iloc[25,0]

'Feb-2012'

In [73]:
#Greatest decrease in profit (date and amount)
np.amin(diffs)

-2196167.0

In [89]:
#Find index of greatest decrease
np.argmin(diffs, axis=0)

43

In [105]:
#Noting that python starts at 0
df.iloc[44,0]

'Sep-2013'

In [109]:
print(f"Total Months: {df['Date'].count()}")
print(f"Total: ${df['Profit/Losses'].sum()}")
print(f"Average Change: ${round (sum(diffs)/len(diffs),2)}")
print(f"Greatest increase in Profits: {df.iloc[25,0]} (${np.amax(diffs)})")
print(f"Greatest decrease in Profits: {df.iloc[44,0]} (${np.amin(diffs)})")

Total Months: 86
Total: $38382578.0
Average Change: $-2315.12
Greatest increase in Profits: Feb-2012 ($1926159.0)
Greatest decrease in Profits: Sep-2013 ($-2196167.0)

In [111]:
answer_string = "Total Months: 86 /n"

In [112]:
answer_string += "Total: $38382578.0 /n"

In [113]:
answer_string += "Average Change: $-2315.12 /n"

In [114]:
answer_string += "Greatest increase in Profits: Feb-2012 ($1926159.0) /n"

In [115]:
answer_string += "Greatest decrease in Profits: Sep-2013 ($-2196167.0) /n"

In [116]:
with open ('results.text','w') as text_file:
    text_file.write(answer_string)